@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');

html, body {
  font-family: 'Roboto Mono', monospace;
}

.App {
  text-align: center;
}

.gamebox-area {
  border: 1px solid #000;
  min-height: 100%;
}

.header {
  height: 4rem;
  font-size: 2rem;
  font-weight: 600;
}

.reset-button {
  background-color: #9BB8CB;;
  border-radius: 4.1rem;
  border-width: 0;
  font-size: 1em;
  height: 4.1rem;
  padding: 0 2.08rem;
  transition: all 200ms;
  box-shadow: rgb(60 64 67 / 30%) 0 1px 3px 0, rgb(60 64 67 / 15%) 0 4px 8px 3px;
  margin: 1.5rem 0 2rem;
}

.reset-button:hover {
  transform: scale(1.05);
}

.total-turns {

}

.total-matches {

}